html,
body {
  font-family: "Open Sans", sans-serif;
  margin: 50px 100px 50px 100px;
}

#main {
  display: flex;
  align-items: center;
  margin-bottom: 1%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#resultHeadline {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5%;
}

#resultHeadline-child {
  display: flex;
}

#loading2 {
  margin-left: 10px;
}

.resultSentence {
  display: inline-block;
  list-style: none;
  border-bottom: 1px solid #000;
  padding-top: 2%;
  padding-bottom: 5px;
}
